*{
    margin:0;
    padding: 0;
}

body{
    background-color: pink;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

#imagem{
    max-width: 40%;
    max-height: 50%;
    object-fit: contain;
}

#caixa1{
    font-size: 2em;
    font-weight: bold;
    width: 20%;
    height: 10%;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}